---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
import Messages from "@/components/Messages";
import Footer from "@/components/Footer";
import { GITHUB, PROJECTS } from "@/utils/info";
import { ACHIEVEMENTS } from "@/utils/info";
import { EXPERIENCES } from "@/utils/info";
import { EMAIL_ADDRESS } from "@/utils/info";
---

<Layout title="Aman Chand">
  <main class="flex max-w-[500px] flex-col gap-6 lg:max-w-[750px] lg:gap-8">
    <img
      src="/gengar.png"
      alt="Scary Gengar"
      class="absolute right-4 top-4 size-20 cursor-pointer opacity-0 duration-[3s] hover:opacity-100 lg:size-40"
      onclick="playAudio()"
    />

    <script is:inline>
      function playAudio() {
        const audio = new Audio("/gengar.ogg");
        audio.play();
      }
    </script>

    <a href="/">
      <h1
        class="motion-preset-slide-up-sm font-special text-4xl text-neutral-400 duration-500 motion-blur-in motion-opacity-in motion-duration-[1s] hover:text-special"
      >
        Aman Chand
      </h1>
    </a>

    <section
      class="motion-preset-slide-up-sm flex flex-col gap-4 motion-blur-in motion-opacity-in motion-duration-[1s] motion-delay-[0.25s] lg:gap-6"
    >
      <p>
        <a
          class="text-body underline decoration-neutral-500 underline-offset-4 duration-500 hover:text-special hover:decoration-neutral-300"
          href={GITHUB}
          target="_blank"
          rel="noopener noreferrer"
        >
          Full stack software developer</a
        > | Currently working on <span
          class="whitespace-nowrap bg-gradient-to-r from-blue via-orange to-purple bg-clip-text text-transparent selection:bg-neutral-800 selection:text-purple"
        >
          <a
            href="https://bitly.com/98K8eH"
            class="underline decoration-purple underline-offset-4 duration-500 hover:text-orange hover:decoration-white"
            target="_blank"
            rel="noopener noreferrer"
          >
            something special
          </a>
        </span>
      </p>
      <p class="group">
        This website is heavily
        <span class="relative">
          <span class="lg:group-hover:invisible">inspired by</span>
          <span
            class="invisible left-0 top-0 mt-0.5 hidden text-sm group-hover:visible lg:absolute lg:block"
            >copied from</span
          >
        </span>
        <Link title="Paco.me" href="https://paco.me" />
      </p>
    </section>

    <section
      class="motion-preset-slide-up-sm flex flex-col justify-between gap-6 text-neutral-400 motion-blur-in motion-opacity-in motion-duration-[1s] motion-delay-[0.5s] lg:flex-row lg:gap-8"
    >
      <div class="lg:w-52">
        <p class="mb-6 lg:mb-8">Projects</p>

        <div class="flex flex-col gap-4 lg:gap-6">
          {
            PROJECTS.map(({ title, description, link }) => (
              <div class="flex flex-col gap-2">
                <Link title={title} href={link} />
                <p>{description}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class="lg:w-52">
        <p class="mb-6 lg:mb-8">Achievements</p>

        <div class="flex flex-col gap-4 lg:gap-6">
          {
            ACHIEVEMENTS.map(({ title, description, link }) => (
              <div class="flex flex-col gap-2">
                <Link title={title} href={link} />
                <p>{description}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class="lg:w-52">
        <p class="mb-6 lg:mb-8">Experience</p>

        <div class="flex flex-col gap-4 lg:gap-6">
          {
            EXPERIENCES.map(({ title, description, link }) => (
              <div class="flex flex-col gap-2">
                <Link title={title} href={link} />
                <p>{description}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section
      class="motion-preset-slide-up-sm flex flex-col gap-4 motion-blur-in motion-opacity-in motion-duration-[1s] motion-delay-[0.75s] lg:gap-6"
    >
      <h2 class="mb-2 font-special text-3xl text-neutral-400">More about me</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita eaque
        tenetur dignissimos quasi magni optio quam doloribus nesciunt
        exercitationem consectetur reprehenderit repellat alias, ab itaque
        dolores atque. Id, quisquam autem.
      </p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita eaque
        tenetur dignissimos quasi magni optio quam doloribus nesciunt
        exercitationem consectetur reprehenderit repellat alias, ab itaque
        dolores atque. Id, quisquam autem.
      </p>
    </section>

    <section
      class="motion-preset-slide-up-sm flex flex-col gap-4 motion-blur-in motion-opacity-in motion-duration-[1s] motion-delay-[1s] lg:gap-6"
    >
      <h2 class="mb-2 font-special text-3xl text-neutral-400">
        Leave a message
      </h2>
      <Messages client:only="react" />
    </section>

    <section class="flex flex-col gap-4 lg:gap-6">
      <h2 class="mb-2 font-special text-3xl text-neutral-400">
        Previous portfolios
      </h2>
      <div class="flex flex-col gap-4 md:flex-row lg:gap-6">
        <div class="flex gap-4 lg:gap-6">
          <Link title="First Portfolio" href="https://v-1.amanchand.com.np" />
          <Link title="Second Portfolio" href="https://v0.amanchand.com.np" />
        </div>

        <div class="flex gap-4 lg:gap-6">
          <Link title="Third Portfolio" href="https://v1.amanchand.com.np" />
          <Link title="Fourth Portfolio" href="https://v2.amanchand.com.np" />
        </div>
      </div>
    </section>

    <section class="flex flex-col gap-4 lg:gap-6">
      <h2 class="mb-2 font-special text-3xl text-neutral-400">Contact</h2>
      <p>
        Send a message at <Link
          title={EMAIL_ADDRESS}
          href=`mailto:${EMAIL_ADDRESS}`
        />
      </p>
    </section>

    <section class="relative mt-14 lg:mt-40">
      <Footer client:only="react" />
    </section>
  </main>
</Layout>
